# Files that created by Rust compiler.
/target/

# Cargo.lock File.
Cargo.lock

# Files and Folders from rustfmt.
**/*.rs.bk

# Created by IDE or Text editor.
.vscode/
.idea/
*.swp
*.swo

# OS Files.
.DS_Store
Thumbs.db

# Log Files.
*.log

# Environment Variables Files.
# .env

# Binary Files.
*.exe
*.dll
*.so
*.dylib

# Testing and Coverage Files.
*.profraw

# Documentation that auto created if using cargo doc.
/doc/

# Other Tmp Files.
*.tmp
*.bak
*.backup